<nav class="navbar">
  <h2>MI PERFIL PROFESIONAL</h2>
  <div class="menu">
    <a href="#inicio"> Inicio </a>
    <a href="#sobre-mi"> Sobre mí </a>
    <a href="#habilidades"> Habilidades </a>
    <a href="#proyectos"> Mis Proyectos </a>
  </div>
</nav>
<!--PRESENTACION-->
<section id="inicio" class="inicio">
  <div class="avatar">
    🖥️
  </div>
  <h1> {{nombre}}</h1>
  <h2> {{profesion}}</h2>
  <p> {{descripcion}}</p>
  <div class="botones">
    <button> GitHub</button>
    <button> Contactar </button>
  </div>
</section>