.navbar{
display:flex;
justify-content:space-between;
align-items:center;
padding:18px 40px;
background-color:#ff0000;
color: white;

}

.navbar h2{
    margin:0;
}
.navbar a{
    color:white;
    text-decoration:none;
    margin-left:20px;
}