.contenedor {
  width: 90%;
  max-width: 1100px;


  margin: 40px auto;


  font-family: Arial, sans-serif;
}


header {
  margin-bottom: 30px;
}


h1 {
  color: #1e3a8a;
}


p {
  color: #64748b;
}

