<app-navbar></app-navbar>

<main class="contenedor">

  <header>
    <h1>Sistema de Gestión de Productos</h1>

    <p>
      Administra los productos de tu negocio.
    </p>
  </header>


  <!-- FORMULARIO -->

  <app-producto-formulario
    [producto]="productoEditar"
    (guardar)="guardarProducto($event)">
  </app-producto-formulario>


  <!-- LISTA -->

  <app-producto-lista
    [productos]="productos"
    (editar)="editarProducto($event)"
    (eliminar)="eliminarProducto($event)">
  </app-producto-lista>

</main>