/*Configuracion inicial*/
* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #f5f5f5;
    color: #333;
}

/*NAVBAR*/
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 8%;
    background: #1e3a8a;
    color: white;
}

.menu {
    display: flex;
    gap: 20px;
}

.menu a {
    color: white;
    text-decoration: none;
}

/*PRESENTACION*/
.inicio {
    text-align: center;
    padding: 80px 20px;
    background: #1e3a8a;

}

.avatar {
    font-size: 80px;
}

.inicio h1 {
    margin: 15px 0 5px;
    color: #1e3a8a;
}

.inicio h2 {
    margin: 0 0 15px;
    color: #d6cac4;
}

.inicio p {
    max-width: 600px;
    margin: auto;
    line-height: 1.6;
}

/*BOTONES*/
.botones {
    margin-top: 25px;
}

button {
    margin: 5px;
    padding: 10px 18px;
    border: none;
    border-radius: 8px;
    background: #1e3a8a;
    color: white;
    cursor: pointer;
}

button:hover {
    background: #1e3a8a;
}

/*SECCIONES*/
.seccion {
    max-width: 900px;
    margin: auto;
    padding: 60px 20px;
}

.seccion h2,
.contacto {
    color: #1e3a8a;
}

/*HABILIDADES*/
.habilidades {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.habilidades span {
    padding: 8px 14px;
    border-radius: 20px;
    background: #1e3a8a;
    color: white;
}

/*PROYECTOS*/
.proyectos {
    display: flex;
    gap: 20px;
}

.proyecto {
    flex: 1;
    padding: 20px;
    background: #1e3a8a;
    border-radius: 8px;
    box-shadow: 0 4px 12px #ddd;
    color: white;

}

.proyecto h3 {
    color: #1e3a8a;
}

/*CONTACTO*/
.contacto {
    text-align: center;
    padding: 50px 20px;
    background: #1e3a8a;
    color: #ffffff;
}

/*FOOTER*/
footer{
   text-align: center;
   padding: 20px;
   background: #1e3a8a;
   color: white;
}
